
<div class="container-fluid">
    <div class="row row-height">
        <div class="col-xs-7 col-md-5 col-sm-6 col-lg-4 fix-height">

                <h1 class="margin-left-15">Main Application</h1>

        </div>
        <div class="col-xs-5 col-md-7 col-sm-6 col-lg-8 fix-height">
            <span class="bottom-logout-aligned">
                <span>{{Home.username}}</span>
                <button type="button" class="btn btn-default" ng-click="Home.logout()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                </button>

            </span>



        </div>
    </div>

    <toaster-container
            toaster-options="{'position-class': 'toast-bottom-full-width', 'toaster-id' : 'errorNotification'}"></toaster-container>
    <toaster-container
            toaster-options="{'position-class': 'toast-center', 'toaster-id' : 'allPageNotification'}"></toaster-container>
    <div ui-view autoscroll/>


</div>